
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2 class="bg-success text-center">Danh sách database</h2>
<br />
<div style="margin-left:400px">
    <a class="btn btn-primary" href="/user">User</a>
    <a class="btn btn-primary" href="/Facelog">FaceLog</a>
    <a class="btn btn-primary" href="/Face">Face</a>

</div>

